@import '~vuetify/src/styles/styles.sass';

$calendar-line-width: 1px !default;
$material-light: (
  'calendar': (
    'outside-background-color': var(--cal-outside-bg),
    'line-color': map-get($grey, 'darken-2'),
  ),
);
$calendar-weekly-weekday-font-size: var(--cal-weekday-label) !default;
