.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
.env.lauralee

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# proprietary stuff
public/css/style.css
public/img/*.jpg
public/img/*.gif
src/assets/*.jpg
src/assets/*.gif
