<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src='https://unpkg.com/vue@2.6.11/dist/vue.min.js'></script>
    <!--Load the web component polyfill-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/webcomponents-loader.js"></script>
    <script src='<%= BASE_URL %>js/fishing-reports.min.js'></script>
    <title>Fishing Reports</title>
  </head>
  <body>
    <fishing-reports merchantid='<%= MERCHANT_ID %>'></fishing-reports>
  </body>
</html>
